<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head') %>
</head>
<body>

<%- include ('../partials/header') %>

<div class="tab-content">
	<!-- content row -->
	<div id="home" class="container tab-pane active">
		<!-- main content -->
		<h2 align="center"> Main Home Content Heading </h2>
		<h3 align="center"> Subheading For Content </h2>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
	</div>
	<div id="about" class="container tab-pane fade">
		<!-- main content -->
		<h2 align="center"> Main About Content Heading </h2>
		<h3 align="center"> Subheading For Content </h2>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
	</div>
	<div id="resume" class="container tab-pane fade">
		<!-- main content -->
		<h2 align="center"> Main Resume Content Heading </h2>
		<h3 align="center"> Subheading For Content </h2><p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
	</div>
	<div id="written" class="container tab-pane fade">
		<!-- main content -->
		<h2 align="center"> Main Written Content Heading </h2>
		<h3 align="center"> Subheading For Content </h2>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
		<p> Hello my name is qorncat. I love coding  </p>
	</div>
</div>
</body>
</html>
